html
  min-width 610px

html, body
  padding 0
  margin 0
  font 14px/1 ubuntu, tahoma, arial, verdana
  background-color #F9F9F9
  pie()
  aaa 1px
  pie()

a
  color #21759B
  &:hover
    color #D56B4B